<!DOCTYPE html>

<head>
	<title>Auth</title>
	{% load static %} 
	<script src="{% static 'index.js' %}"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"> </script>
</head>

<body>

	<form align='center'>
		{% csrf_token %}
		<label>ФИО</label></br>
		<input id='name'> </br>
		<label>Почта</label></br>
		<input id='email'> </br>
		<label>Телефон</label></br>
		<input id='phone'> </br> </br>
	</form>

	<div align='center'>
		<button onclick='go_button()'>Enter</button> </br>
	</div>

</body>

</html>